@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,h2,h3,h4,h5,h6,a,p,li{
	font-family: Montserrat;
	font-weight: 400;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}
.carousel-indicators{
	justify-content: left;
}
.carousel-indicators li{
	width: 15px;
	height: 15px;
	border-radius: 100%;
}
header {
    background-color: rgb(0 0 255 / 0.5);
}

header{
	.head1{
		white-space: nowrap;
	}
	.head1 h3{
		font-size: 15px;
		font-weight: 400px;
		color: #ffffff;
		margin: 0;
		text-transform: capitalize;
		padding-top: 40px;
	}
	input{
		padding: 8px;
		font-size: 12px;
		font-weight: 400;
		width: 72%;
		margin-top: 10px;
		border: none;
	}
	a{
		border: 0px solid #075386;
		background-color: #075386;
		width: 50%;
		padding: 10px 18px;
		color: #ffffff;
		font-size: 12px;
		margin-left: -4px;
		font-weight: 600;
	}
	.head2{
		text-align: center;
		padding: 15px 0;
	}
	p{
		font-size: 12px;
		color: #ffffff;
		margin-top: 15px;
	}
	li{
		display: inline-block;
		margin-left: 10px;
	}
	i{
		font-size: 18px;
		color: #ffffff;
		border: 1px solid #ffffff;
		padding: 10px 12px;
		border-radius: 100%;
	}
}


.navc{
	background-color: #4A235A;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0;
}
nav.navbar.navbar-expand-lg.navbar-light .nav-item {
    padding-left: 18px;
    white-space: nowrap;
}
nav.navbar.navbar-expand-lg.navbar-light .nav-item .nav-link{
	color: #ffffff;
	font-weight: 500;
}
nav.navbar.navbar-expand-lg.navbar-light .nav-item.active {
    background-color: none;
    padding: 0;
}
.head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
}
.change{
	margin-top: 13%;
}
.change1 {
	margin-left: 30px;
	h6{
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}	
	h3{
		font-size: 54px;
		font-weight: 600;
		color: #ffffff;
		text-transform: capitalize;
		font-family: Open Sans;
		margin-bottom: 40px;
	}
	h3 span{
		font-family: Montserrat;
		font-size: 50px;
		text-transform: capitalize;
		font-weight: 300;
	}
	a{
		background-color: #1b75ba;
		text-transform: uppercase;
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		padding: 15px 30px;
	}
}
.change2{
	margin-right: -92px;
	margin-left: 120px;
	border: 10px solid #ffffff;
	height: 380px;
	width: 80%;
	ul{
		
		padding: 0;
	}
	.appi{
		background-color: #5799cc;
		color: #ffffff;
		span{
			color: #ffffff;
		}
	}
	li{
		background-color: #ffffff;
		border-bottom: 1px solid #ffffff;
		height: 120px;
	}
	img{
		padding: 15px 25px 15px 30px;
	}
	h5{
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 500;
		padding-top: 20px;
	}
	h5 span{
		font-size: 12px;
		color: grey;
	}
	img,h5{
		display: inline-block;
	}
}
.can{
	margin-top: 60px;
}
.can1{
	
	h5{
		text-transform: capitalize;
		font-size: 32px;
		font-family: 18px;
		font-weight: 700;
		padding-top: 15px;
		color: #333333;
	}
	select{
		border: 1px solid #1b75ba;
		padding: 12px;
		text-transform: uppercase;
		font-size: 12px;
		margin-right: 8px;
		margin-bottom: 8px;
		font-weight: 500;
	}
}
.vote{
	margin-bottom: 12%;
}
.vote1{
	margin-top: 18px;
	margin-right: -10px;

	img{
		width: 100%;
	}
	h3{
		font-size: 20px;
		font-weight: 600;
		text-transform: capitalize;
		color: #333333;
		margin-top: 18px;
		margin-bottom: 6px;
	}
	h5{
		font-size: 14px;
		font-weight: 600;
		color: #9e9e9e;
		text-transform: capitalize;
	}
}
.can2{
	margin-top: 90px;
	h4{
		text-transform: capitalize;
		font-size: 30px;
		font-family: 18px;
		font-weight: 700;
		padding-top: 15px;
		color: #333333;
	}
	p{
		font-size: 13.6px;
		font-weight: 400;
		color: #676767;
	}
	.sen{
		margin-left: 40%;
	}
}
.pol{
	margin-bottom: 80px;
	h2{
		font-size: 40px;
		font-weight: 600;
		color: #333333;
		text-transform: capitalize;
	}p{
		font-size: 12px;
		font-weight: 400;
		color: #666666;
		text-transform: uppercase;
	}
}
.trump{
	box-shadow: 0px 5px 20px #bbbbbb6e;
}
.trump1{
	h3{
		font-size: 18px;
		font-weight: 600;
		color: #bf0d3e;
		text-align: center;
		line-height: 34px;
		text-transform: capitalize;
		padding-top: 25px;
	}
	p{
		font-size: 28px;
		font-weight: 600;
		text-align: center;
		color: #bf0d3e;
		text-transform: capitalize;
		padding-bottom: 25px;
	}
}
.book{
	margin: 100px 20px 80px 30px;
}
.pnd{
	padding: 0;
}
.booker{
	background-color: #510EED;
	width: 100%;
	margin: 0 ;
	padding: 60px 0 50px 0;
}
.book1{
	padding-left: 102px;
	
	h3{
		font-size: 40px;
		font-weight: 600;
		color: #fff;
		span{
			font-weight: 400;
		}
	}
	p{
		font-size: 15px;
		font-weight: 500;
		line-height: 25px;
		color: #fff;
	}
	img{
		margin-top: 20px;
	}	
}
.book-i {
	padding: 0;
	img{
		padding-right: 32px;
	}
}
.vide{
	img{
		width: 100%;
	}
}
.service{
}
.serviceb {
	h4{
		font-size: 37px;
		font-weight: 500;
		color: #222222;
		text-transform: capitalize;
		text-align: center;
		margin-bottom: 20px;
	}
}
.service1{
	img{
		width: 100%;
	}
}
.service2{
	background-color: #f5f7fa;
	padding-left: 28px;
	padding-bottom: 33px;
		padding-top: 30px;
	h6{
		font-size: 18px;
		font-weight: 600;
		color: #333333;
		text-transform: capitalize;
	}
	P{
		font-size: 14px;
		font-weight: 600;
		color: #999999;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	a{
		font-size: 12px;
		font-weight: 600;
		color: #9b1444;
		text-transform: capitalize;
	}
}
.service2:hover{
	background-color: #fff;
	transition: all .3s linear;
	box-shadow: 0px 10px 30px #999999;
}
.service3:hover{
	background-color: #fff;
	transition: all .3s linear;
	box-shadow: 0px 10px 30px #999999;
}
.service3{
	background-color: #f5f7fa;
	padding-left: 28px;
	padding-bottom: 21px;
		padding-top: 30px;
	h6{
		font-size: 18px;
		font-weight: 600;
		color: #333333;
		text-transform: capitalize;
	}
	P{
		font-size: 14px;
		font-weight: 600;
		color: #999999;
		padding-bottom: 0px;
	}
	a{
		font-size: 12px;
		font-weight: 600;
		color: #9b1444;
		text-transform: capitalize;
	}
}
.service4{
	margin-top: 45px;
	a{
		font-size: 12px;
		font-weight: 500;
		background-color: #9b1444;
		text-transform: capitalize;
		color: #fff;
		display: block;
		width: 13%;
		height: 50px;
		line-height: 50px;
		margin: 0 auto;
		text-align: center;
		border-radius: 4%;
		box-shadow: 0px 7px 20px #9b1444;
	}
}
.service4:hover a{
	background-color: red;
	transition: all .3s linear;

}

.blog{
	margin-top: 100px;
	background-color: #2b388f;
	margin-left: 15px;
	margin-right: 15px;
}
.new{
	h5{
		font-size: 12px;
		font-weight: 500;
		color: #d2d2d2;
		text-transform: uppercase;
		text-align: center;
		padding-top: 115px;
	}
	h4{
		font-size: 37px;
		font-weight: 500;
		color: #fff;
		text-transform: capitalize;
		text-align: center;
		padding-bottom: 10px;
	}
}
.blog1{
	img{
		width: 100%;
	}
}
.blog2{
	background-color: #f5f7fa;
	padding: 20px 20px 20px 20px;
	h6{
		font-size: 18px;
		font-weight: 600;
		color: #333333;
	}
	p{
		font-size: 14px;
		font-weight: 600;
		color: #999999;
	}
	.light-para{
		font-size: 12px;
		font-weight: 500;
		color: #76787a;
	}
	a{
		font-size: 12px;
		font-weight: 600;
		color: #9b1444;
	}
}
.blog3{
	margin-top: 40px;
	margin-bottom: 110px;
	a{
		font-size: 12px;
		font-weight: 500;
		background-color: #9b1444;
		text-transform: capitalize;
		color: #fff;
		display: block;
		width: 13%;
		height: 50px;
		line-height: 50px;
		margin: 0 auto;
		text-align: center;
		border-radius: 4%;
	}
}
.good{
	margin-top: 40px;
}
.good1{
	background-color: #14468c;
}
.twi1{
	padding: 13px 0px 20px 13px;
	i{
		font-size: 20px;
		color: #fff;
		padding-bottom: 15px;
	}
	p{
		font-size: 12px;
		font-weight: 400;
		color: #d2d2d2;
		padding-bottom: 10px;
		line-height: 26px;
	}
	a{
		font-size: 12px;
		font-weight: 400;
		color: #ffffff;
	}
	h5{
		font-size: 13px;
		font-weight: 500;
		color: #fff;
		margin-top: 25px;
	}
}
.twi2{
	display: flex;
	justify-content: space-between;
	h6{
		font-size: 12px;
		font-weight: 300;
		color: #999999;
	}
	ul :last-child{
		border: none;
		margin: 0;
	}
	li{
		display: inline-block;
		font-size: 12px;
		font-weight: 400;
		color: #fff;
		border-right: 1px solid #676767;
		padding-left: 7px;
		padding-right: 7px;
	}
}
.good2{
	background-color: #0d2f5d;
}
.fb1{
	padding: 13px 0px 20px 0px;
	i{
		font-size: 20px;
		color: #fff;
		padding-bottom: 15px;
	}
	p{
		font-size: 12px;
		font-weight: 400;
		color: #d2d2d2;
		padding-bottom: 10px;
		line-height: 26px;
	}
	a{
		font-size: 12px;
		font-weight: 400;
		color: #ffffff;
	}
	h5{
		font-size: 13px;
		font-weight: 500;
		color: #fff;
		margin-top: 25px;
	}
}
.fb2{
	display: flex;
	justify-content: space-between;
	h6{
		font-size: 12px;
		font-weight: 300;
		color: #999999;
	}
	ul :last-child{
		border: none;
		margin: 0;
	}
	li{
		display: inline-block;
		font-size: 12px;
		font-weight: 400;
		color: #fff;
		border-right: 1px solid #676767;
		padding-left: 7px;
		padding-right: 7px;
	}
}
.good3{
	background-color: #bf0d3e;
}
.you2 {
    position: absolute;
    top: 118px;
    bottom: 0px;
    left: 144px;
}
.you1{
	position: relative;
	padding: 13px 0px 20px 0px;
	img{
		width: 100%;
	}
	i{
		font-size: 20px;
		color: #fff;
		padding-bottom: 13px;
	}
	h4{
		font-size: 15px;
		font-weight: 400;
		line-height: 32px;
		color: #fff;
		padding-top: 10px;
	}
	h5{
		font-size: 13px;
		font-weight: 500;
		color: #fff;
		padding-top: 5px;
	}
}
.good4{
	background-color: #0e1e40;
	padding: 13px 0px 20px 13px;
	h5{
		font-size: 13px;
		font-weight: 500;
		color: #fff;
	}
}
.ins1{
	i{
		font-size: 20px;
		color: #fff;
		padding-bottom: 12px;
	}
}
.ins2{
	ul{
		padding-left: 0;
	}
	li{
		width: 30%;
		display: inline-block;
		padding-bottom: 12px;
		padding-right: 10px;
		img{
			width: 100%;
		}
	}
}
.slider{
	display: flex !important;
	flex-wrap: wrap;
}
.slider-img{
	width: 70%;
	img{
		width: 100%;
	}
}
.slider-txt{
	width: 30%;
	background-color: #bf0d3e;
	position: relative;
	h3{
		font-size: 39px;
		font-weight: 600;
		text-transform: uppercase;
		color: #ffffff;	
		align-items: center;
		position: absolute;
		top: 150px;
		left: 50px;
		bottom: 0;
	}
}
.first-slick2{
	box-sizing: border-box;
	.slick-next:before {
    background-color: red;
    padding: 10px;
    bottom: 0;
	}
}
.first-slick2{
	.slick-prev:before {
    background-color: red;
    padding: 10px;
	}
}
.trump.slick-active.slick-current {
    background-color: #bf0d3e;
    box-shadow: none;
     box-shadow: 0px 10px 21px 0px rgba(191, 13, 62, 0.43);
    h3,p{
    	color: #fff;
    }
}
.grass{
	padding-top: 100px;
	background-color: #f5f9ff;
	padding-bottom: 120px;
}
.grass1{
	h5{
		font-size: 13px;
		font-weight: 500;
		color: #666666;
		text-transform: uppercase;
	}
	h4{
		font-size: 40px;
		font-weight: 500;
		color: #333333;
		text-transform: capitalize;
		margin-bottom: 20px;
	}
}
.grass2{
	.on{
		margin-right: 70px;
		margin-bottom: 60px;
		li{
		font-size: 16px;
		font-weight: 500;
		color: rgb(155, 20, 68);
		text-transform: capitalize;
		line-height: 31px;
		a{
			color: #666666;
		}
		}
	}
	.off{
		li{
		font-size: 16px;
		font-weight: 500;
		color: rgb(155, 20, 68);
		text-transform: capitalize;
		line-height: 31px;
		a{
			color: #666666;
		}
		}
	}
}
.dash{
	a{
		background-color: #9b1444;
		padding: 15px 20px;
		color: #fff;
		font-size: 12px;
		border-radius: 3px;
		font-weight: 500;
		box-shadow: 0 7px 7px #9b1444;
	}
}
.mob1{
	img{
		width: 100%;
	}
}
.press{
	margin-top: 80px;
}
.press1{
	h5{
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 500;
		color: #666666;
		text-align: center;
	}
	h4{
		font-size: 40px;
		font-weight: 500;
		color: #333333;
		text-align: center;
	}
	h3{
		font-size: 13px;
		font-weight: 500;
		color: #666666;
		text-transform: uppercase;
		text-align: center;
	}
}
.press2{
	margin-bottom: 70px;
	img{
		width: 100%;
	}
}


.pol2{
	h2{
		font-size: 13px;
		font-weight: 500;
		color: #666666;
		text-align: center;
	}
	h5{
		font-size: 40px;
		font-weight: 500;
		color: #333333;
		text-align: center;
	}
}


.get{
	margin-top: 140px;
	background-color: #e7ecf3;
}


.get2{
	padding: 20px 0;
	background-color: #e7ecf3;
	a{
		width: 70%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	h5{
		padding-left: 6px;
		color: #225193;
		font-weight: 500;
	}
	span{
			font-size: 12px;
			font-weight: 500;
			color: #666666;
		}
}
.grass4{
	padding: 20px 0;
	background-color: #0d2f5d;
	a{
		width: 70%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	h5{
		padding-left: 6px;
		color: #fff;
		font-weight: 500;
	}
	span{
			font-size: 12px;
			font-weight: 500;
			color: #b5bac1;
		}
}
footer{
	background-color: #0e1e40;
}
.foot-boxes{
	padding-top: 70px;
	padding-bottom: 50px;
}
.foot1{
	padding: 0;
}
.foot2{
	padding: 0;
	ul{
		padding: 0;
		li{
			display: inline-block;
			padding: 0 5px 5px 5px;
			a{
				font-size: 11px;
				font-weight: 400;
				text-transform: uppercase;
				color: #fff;
				line-height: 26px;
			}
		}
	}
}
.foot3{
	ul{
		padding: 0;
		margin-left: 30px;
		li{
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 20px;
			a{
				color: #fff;
				border: 1px solid #fff;
				padding: 8px 12px;
				border-radius: 100%;
			}
		}
	}
	.foti{
		margin-left: 173px;
		padding: 0 4px;
	}
}
.foot4{
	margin-top: 120px;
	p{
		font-size: 12px;
		font-weight: 400;
		color: #d2d2d2;
		margin-bottom: 35px;
		a{
			color: #fff;
		}
	}
	span{
		color: #999999;
		font-size: 11px;
		font-weight: 500;
		border: 1px solid #999999;
		padding: 15px 30px;
	}
	.copyr{
		margin-top: 35px;
		font-size: 12px;
		font-weight: 500;
		color: #999999;
	}
}

.foot5{
	h5{
		font-size: 12px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
	}
	h3{
		font-size: 21px;
		font-weight: 500;
		color: #fff;
		text-transform: capitalize;
		padding-top: 3px;
		padding-bottom: 8px;
	}
	p{
		font-size: 14px;
		font-weight: 100;
		color: #fff;
		line-height: 26px;
		margin-bottom: 20px;
	}
	input{
		width: 100%;
		padding: 8px 15px;
		margin-bottom: 12px;
	}
	a{
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		background-color: #9b1444;
		box-shadow: 0px 10px 21px 0px rgba(155, 20, 68, 0.43) !important;
		padding: 12px 15px;
		color: #fff;
	}
}
h1{
	background-color: red;
	span{
		
	}
}









 
